@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.App {
    font-family: 'Raleway', sans-serif;
    text-align: center;

    form {
        border: 1px solid black;
        margin: 20px;
        padding: 20px
    }
}